.cf_wrapper iframe{
  width: 100%;
  height: 100%;
  margin-top: -70px;
}

.cf_wrapper{
	position: relative;
}

.cf_wrapper iframe.video_2{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.cf_wrapper iframe{
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.cf_wrapper iframe.show{
	opacity: 1;
}

.cf_wrapper .cf_overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 100;
}
